/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: table-toc;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 3;
	cell-padding-left: 15px;
	cell-padding-right: 15px;
	cell-padding-top: 15px;
	cell-padding-bottom: 15px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	cell-content-style-tag: p;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	cell-content-style-tag: p;
	cell-content-style-class: UI_Emphasis;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-content-style-tag: p;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-table-toc
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-table-toc-Column-Column1
{
	
}

.TableStyle-table-toc-Head-Header1
{
	
}

.TableStyle-table-toc-HeadI-Column1-Header1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
	text-align: left;
}

.TableStyle-table-toc-HeadI-Column1-Header1 p
{
	
}

.TableStyle-table-toc-HeadE-Column1-Header1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-toc-HeadE-Column1-Header1 p
{
	
}

.TableStyle-table-toc-HeadF-Column1-Header1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-toc-HeadF-Column1-Header1 p
{
	
}

.TableStyle-table-toc-HeadH-Column1-Header1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
}

.TableStyle-table-toc-HeadH-Column1-Header1 p
{
	
}

.TableStyle-table-toc-HeadD-Column1-Header1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-toc-HeadD-Column1-Header1 p
{
	
}

.TableStyle-table-toc-HeadC-Column1-Header1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
	text-align: left;
}

.TableStyle-table-toc-HeadC-Column1-Header1 p
{
	
}

.TableStyle-table-toc-HeadB-Column1-Header1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
}

.TableStyle-table-toc-HeadB-Column1-Header1 p
{
	
}

.TableStyle-table-toc-HeadA-Column1-Header1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
	text-align: left;
}

.TableStyle-table-toc-HeadA-Column1-Header1 p
{
	
}

.TableStyle-table-toc-HeadG-Column1-Header1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
	text-align: left;
}

.TableStyle-table-toc-HeadG-Column1-Header1 p
{
	
}

.TableStyle-table-toc-FootI-Column1-
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
}

.TableStyle-table-toc-FootI-Column1- p
{
	
}

.TableStyle-table-toc-FootE-Column1-
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-table-toc-FootE-Column1- p
{
	
}

.TableStyle-table-toc-FootF-Column1-
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
}

.TableStyle-table-toc-FootF-Column1- p
{
	
}

.TableStyle-table-toc-FootH-Column1-
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-table-toc-FootH-Column1- p
{
	
}

.TableStyle-table-toc-FootD-Column1-
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
}

.TableStyle-table-toc-FootD-Column1- p
{
	
}

.TableStyle-table-toc-FootC-Column1-
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
}

.TableStyle-table-toc-FootC-Column1- p
{
	
}

.TableStyle-table-toc-FootB-Column1-
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-table-toc-FootB-Column1- p
{
	
}

.TableStyle-table-toc-FootA-Column1-
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
}

.TableStyle-table-toc-FootA-Column1- p
{
	
}

.TableStyle-table-toc-FootG-Column1-
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
}

.TableStyle-table-toc-FootG-Column1- p
{
	
}

.TableStyle-table-toc-Body-Body1
{
	
}

.TableStyle-table-toc-BodyI-Column1-Body1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
}

.TableStyle-table-toc-BodyI-Column1-Body1 p
{
	
}

.TableStyle-table-toc-BodyE-Column1-Body1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-table-toc-BodyE-Column1-Body1 p
{
	
}

.TableStyle-table-toc-BodyF-Column1-Body1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-table-toc-BodyF-Column1-Body1 p
{
	
}

.TableStyle-table-toc-BodyH-Column1-Body1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-table-toc-BodyH-Column1-Body1 p
{
	
}

.TableStyle-table-toc-BodyD-Column1-Body1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-table-toc-BodyD-Column1-Body1 p
{
	
}

.TableStyle-table-toc-BodyC-Column1-Body1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
}

.TableStyle-table-toc-BodyC-Column1-Body1 p
{
	
}

.TableStyle-table-toc-BodyB-Column1-Body1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-table-toc-BodyB-Column1-Body1 p
{
	
}

.TableStyle-table-toc-BodyA-Column1-Body1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
}

.TableStyle-table-toc-BodyA-Column1-Body1 p
{
	
}

.TableStyle-table-toc-BodyG-Column1-Body1
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
}

.TableStyle-table-toc-BodyG-Column1-Body1 p
{
	
}


